$primary_color: #000;
$secondary_color: #717171;
$light_color: #cacaca;
$mediumGrey: #b3b3b3;
$darkGrey: #666666;
$positive: #06a50b;
$neutral: #ff9800;
$negative: #f44336;

$image_width: clamp(300px, 30vw, 400px);
//#556b2f//
//#6b8e23//
