@use "../../scss/breakPoints/breakPoints.scss" as *;

.categories-container {
   width: 100vw;
   overflow: scroll;
   scrollbar-width: none;
   margin-bottom: 100px;

   @include breakPointsMax(medium) {
      margin: 40px 0;
   }
   .categories {
      width: 650px;
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: space-evenly;
      font-size: 16px;
      margin: 0 auto;

      @include breakPointsMax(medium) {
         font-size: 14px;
      }

      a::after {
         content: "";
         display: block;
         height: 1px;
         width: 0;
         background: #000;
         margin-top: 6px;
         transition: width 0.2s ease-in-out;
      }
      a:hover::after {
         width: 100%;
      }
   }
}
