@use "../../scss/breakPoints/breakPoints.scss" as *;
@use "../../scss/colors/colors.scss" as *;
.navbar {
   background: $lightGrey;
   width: 100%;
   padding: 15px 25px;
   display: grid;
   grid-template-columns: repeat(3, auto);
   align-items: center;
   row-gap: 12px;
   position: fixed;
   top: 0;
   z-index: 9;

   @include breakPointsMax(medium) {
      grid-template-columns: repeat(2, auto);
   }

   &__logo {
      img {
         height: 80px;
         @include breakPointsMax(medium) {
            height: 50px;
         }
      }
   }
   &__search-bar {
      justify-self: center;
      position: relative;

      @include breakPointsMax(medium) {
         grid-row: 2/3;
         grid-column: 1/3;
         justify-self: auto;
      }

      input {
         width: 400px;
         height: 40px;
         border-radius: 12px;
         border: none;
         outline: none;
         padding-left: 12px;
         padding-right: 32px;

         @include breakPointsMax(medium) {
            width: 100%;
         }
      }
      span {
         position: absolute;
         right: 12px;
         top: 10px;
         color: grey;
      }
   }
   &__cart {
      justify-self: flex-end;
      display: flex;
      gap: 8px;

      a {
         color: #000;
         font-size: 1.2rem;
      }
   }
}
