@use "../../scss/breakPoints/breakPoints.scss" as *;
@use "../../scss/colors/colors.scss" as *;

.wrapper {
   padding: 16px;
   position: relative;
   margin-bottom: 100px;
   background: #fff;
   width: 80vw;
   margin: auto;
   margin-bottom: 42px;
   @include breakPointsMax(medium) {
      margin-bottom: 60px;
      width: 100vw;
   }

   .products-display__title {
      margin: 16px;
      text-align: left;
      @include breakPointsMax(small) {
         font-size: 14px;
      }
   }
   .left-right-arrows {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      font-size: 32px;
      color: $primary_color;
      z-index: 2;

      cursor: pointer;
      &.right-icon {
         right: 16px;
      }
   }
   .products-display {
      overflow: scroll;
      scrollbar-width: none;

      .products-display__cards {
         display: grid;
         justify-content: center;
         grid-template-columns: repeat(6, 260px);
         gap: 0;

         @include breakPointsMax(xxl) {
            justify-content: start;
         }
         @include breakPointsMax(medium) {
            grid-template-columns: repeat(6, 200px);
            gap: 8px;
         }
         @include breakPointsMax(small) {
            grid-template-columns: repeat(6, 185px);
         }
      }
   }
   .products-display__btn {
      display: flex;
      justify-content: flex-end;
      margin: 32px 0;
   }
}
