@use "../../scss/colors/colors.scss" as *;
@use "../../scss/breakPoints/breakPoints.scss" as *;
.mobile-searchbar {
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   background: $primary_color;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;

   &__form {
      input,
      button {
         border: none;
         outline: none;
         height: 42px;
      }
      input {
         padding: 16px;
         width: 70vw;
         @include breakPointsMax(small) {
            width: 60vw;
         }
      }
      button {
         width: 10vw;
         background: $secondary_color;
         @include breakPointsMax(small) {
            width: 42px;
         }
      }
   }
}
